<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}  </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/font-awesome.min.css')}}">
		<script src="{{ url_for('static', filename='vendor/js/jquery-3.4.1.min.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/js/bootstrap.min.js')}}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/TMTC.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.treetable.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.treetable.theme.default.css')}}">


		{% block head %} {% endblock %}
	</head>
	<body>

		{% include "navi.html" %}
		<div class="container-fluid">
			{% block before_packet_view%}
			{% endblock %}

		{% include "packet-treeview-widget.html" %}
			{% block after_packet_view%}
			{% endblock %}

		</div>
		
		{% include "footer.html" %}

	
		{% block before_jscript %}  
		{% endblock %}
		<script src="{{ url_for('static', filename='js/stix.datetime.js')}}"></script>
		<script src="{{ url_for('static', filename='js/stix.idb.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/js/jquery.treetable.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/js/split.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/packet.treeview.loader.js')}}"></script>
		<script src="{{ url_for('static', filename='js/packet.treeview.response.js')}}"></script>
		<script>
			var splitobj = Split(["#one","#two"], {
				sizes: [40,60],
				minSize: 200,
				gutterSize: 10,
			});
		</script>
		{% block after_jscript %}  
		{% endblock %}
	</body>
</html>
