<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="Cache-control" content="no-cache">
		<title>{% block title %}{% endblock %}  </title>
        {% assets "baseplot_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

		{% assets "baseplot_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

		{% block head %} {% endblock %}

	</head>
	<body >
		<div class="wrapper">
			{% include "sidebar.html" %}
			<div id="content">
				<div class="container-fluid">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<button type="button" id="sidebarCollapse" class="btn btn-secondary mr-1">
							<i class="fas fa-list-ul"></i>
							<span></span>
						</button>
						<button class=" btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" 
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fas fa-align-justify"></i>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<form id="reqform" class="form-inline">
								<div class="btn-toolbar">
									<div class="btn-group  btn-group-sm mr-1">
										{% for key, value in button_groups.items() %}	
										<button type="button" class="btn btn-outline-success last-data " value="{{value}}">{{key}}</button>
										{% endfor	%}
									</div> 
									<div class="input-group input-group-sm mr-auto">
										<input type="text"  id="utc-input" class=" form-control form_datetime" placeholder="Start UTC" name="start" id="start-input">
										<input type="text" class="form-control" placeholder="Time span (min)" min="0" max="5000" name="span" id="span-input">
										<div class="input-group-append">
											<button class="btn btn-outline-success" type="submit">Query</button>
										</div>
									</div>

								</div>
							</form>		
										<ul class="breadCrumb nav navbar-nav ml-auto">
											<li  class="nav-link">{{currentPage}}</li>
										</ul>	
						</div>
						</nav>





					<div class="d-flex mb-3 bg-light rounded shadown-sm mt-2 sticky-top">

						<div class="mr-auto p-2"> 
							<span class="font-weight-light" id="status"> 
								{% block main_title_bar %}
								{%endblock%}
							</span>
						</div>
						<div class="p-1 mr-1"> 
							<div class="btn-group btn-group-sm ">
								<button type="button" class="btn btn-outline-success mr-1" id="previous" value="">Previous </button>
								<button type="button" class="btn btn-outline-success" id="next" value="">Next</button>
							</div>
						</div>
						<div class="p-2"> 
							<a class="button float-right"  href="#" id="share">
								<i class="fa fa-share-alt" aria-hidden="true"></i> Share
							</a>
						</div>
					</div><!--end of  info bar-->

					{% block main_container%} {% endblock %}

				</div> <!-- end of fluid-->

			</div> <!-- end of content-->

		</div> <!-- end of all -->
		{% block before_js%}  	{% endblock %}
		{% assets "stix_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

		{% block after_js%}  	{% endblock %}
		<script>
			$(".btn-group > .btn").click(function(){
				$(this).addClass("active").siblings().removeClass("active");
			});
		</script>

	</body>
</html>

