<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}  </title>
		<meta http-equiv="Cache-control" content="no-cache">
		   {% assets "basepacket_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

		{% assets "basepacket_js_header" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}


		{% block head %} {% endblock %}
	</head>
		<body style="overflow-y:auto; overflow-x:hidden;">
			<div class="wrapper">
				{% include "sidebar.html" %}

				<div id="content">


					{% block before_packet_view%}
					{% endblock %}
					{% include "packet-treeview-widget.html" %}
					{% block after_packet_view%}
					{% endblock %}
				</div>
				{% include "footer.html" %}
			</div>


			{% block before_jscript %}  
			{% endblock %}
			{% assets "basepacket_js_bottom" %}
				<script type="text/javascript" src="{{ ASSET_URL }}"></script>
			{% endassets %}
			{% block after_jscript %}  
			{% endblock %}
		</body>
</html>
