<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="Cache-control" content="no-cache">
		<title>{% block title %}{% endblock %}  </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/dashboard.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stix.plot.css')}}">
		<script src="{{ url_for('static', filename='vendor/js/jquery-3.4.1.min.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/js/bootstrap.min.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/js/popper.min.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/js/plotly-latest.min.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/js/is.js')}}"></script>
		{% block head %} {% endblock %}

	</head>
	<body>
		{%include 'navi.html' %}
		<div class="container-fluid">
			{% include 'dashboard-left-sidebar.html' %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<form id="reqform" class="">
				<div class="btn-toolbar">
					<div class="btn-group  btn-group-sm mr-1">
						{% block toolbar_button_groups %}
						{% endblock %}
					</div> 
					<div class="input-group input-group-sm mr-auto">
						<input type="text"  id="utc-input" class=" form-control form_datetime" placeholder="Start UTC" name="start" id="start-input">
						<input type="text" class="form-control" placeholder="Time span (min)" min="0" max="5000" name="span" id="span-input">
						<div class="input-group-append">
							<button class="btn btn-outline-success" type="submit">Query</button>
						</div>
					</div>
					<div class="btn-group btn-group-sm ">
						<button type="button" class="btn btn-outline-success" id="previous" value="">Previous </button>
						<button type="button" class="btn btn-outline-success" id="next" value="">Next</button>
						<button type="button" class="btn btn-outline-success ml-2" >
							<a class="button" href="#" id="share">
								<i class="fa fa-chain" style="font-size:14;color:green"></i>Share
							</a>
						</button>
					</div>
				</div>
			</form>		
			<div class="row">
				<div class="shadow-sm p-3 mb-2 bg-light col-md-12 rounded">
					<span class="font-weight-light" id="status"> 
						{% block main_title_bar %}
						{%endblock%}
					</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					{% block main_container%} {% endblock %}
				</div>
			</div>

			</main>


		</div>
		{% include "footer.html" %}

		{% block before_js%}  	{% endblock %}
		<script src="{{ url_for('static', filename='js/stix.idb.js')}}"></script>
		<script src="{{ url_for('static', filename='js/stix.common.js')}}"></script>
		<script src="{{ url_for('static', filename='js/stix.datetime.js')}}"></script>
		<script src="{{ url_for('static', filename='js/stix.packet.analyzer.js')}}"></script>
		<script src="{{ url_for('static', filename='js/stix.plot.js')}}"></script>
		{% block after_js%}  	{% endblock %}
		<script>
			$(".btn-group > .btn").click(function(){
				$(this).addClass("active").siblings().removeClass("active");
			});
		</script>


	</body>
</html>

