<nav class="col-md-2 col-sm-2  col-2 d-none d-md-block mt-6 p-0 bg-light sidebar">

	<div class="sidebar-sticky">
		<ul class="nav flex-column mb-5">
			<li class="nav-item">
				<a class="nav-link active" href="#">
					<span data-feather="home"></span>
					Home<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="/plot/housekeeping">
					<span data-feather="home"></span>
					Housekeeping
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/plot/lightcurves">
					<span data-feather="bar-chart-2"></span>
					Light curves
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/plot/calibration">
					<span data-feather="bar-chart-2"></span>
					Calibration data
				</a>
			</li>
				<li class="nav-item">
				<a class="nav-link" href="/view/packet/request">
					<span data-feather="file-text"></span>
					Packet browser

				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/view/list/files">
					<span data-feather="file-text"></span>
					Telemetry files
				</a>
			</li>

		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>To be developed</span>
			<a class="d-flex align-items-center text-muted" href="#">
			</a>
		</h6>
		<ul class="nav flex-column mb-2">
		
				<li class="nav-item">
				<a class="nav-link" href="/plot/aspect">
					<span data-feather="layers"></span>
					Aspect data
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/plot/bulkscience">
					<span data-feather="layers"></span>
					Bulk science
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/plot/detectortest">
					<span data-feather="layers"></span>
					Detector test
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/plot/orbit">
					<span data-feather="layers"></span>
					Spacecraft orbit
				</a>
			</li>




		</ul>
		<!--
		<div class="fixed-bottom font-weight-light" id="status"></div>
		-->
	</div>
</nav>

