<ul class="nav nav-tabs" id="housekeeping-tab">
    <li class="nav-item">
        <a class="nav-link active " href="#Operation">Operation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#ASW">ASW</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#CPU">CPU</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#Spw-links">Spw-links</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#DPU-IDPU-LV">DPU/IDPU/LV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#Aspect-system">Aspect system</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#Attenuator">Attenuator</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#HV">HV </a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#Detectors">Detectors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  " href="#Trigger-rates">Trigger rates</a>
    </li>
</ul>
<div class="tab-content" id="Housekeeping-content">
    <div class="tab-pane fade show active" id="Operation">
        <div id="collapse_ID_0" class="d-flex flex-wrap">
            <div class="stix-plot " id="NIXD0023"></div>
            <div class="stix-plot " id="NIX00085"></div>
            <div class="stix-plot " id="NIXD0077"></div>
        </div>
    </div>
    <div class="tab-pane fade " id="ASW">
        <div id="collapse_ID_1" class="d-flex flex-wrap">

            <div class="stix-plot " id="NIXD0001"></div>
            <div class="stix-plot " id="NIXD0021"></div>
            <div class="stix-plot " id="NIXD0005"></div>
            <div class="stix-plot " id="NIXD0003"></div>
            <div class="stix-plot " id="NIXD0166"></div>
        </div>
    </div>
    <div class="tab-pane fade " id="CPU">
        <div id="collapse_ID_2" class="d-flex flex-wrap">
            <div class="stix-plot " id="NIXD0002"></div>
            <div class="stix-plot " id="NIXD0167"></div>
            <div class="stix-plot " id="NIXD0168"></div>
            <div class="stix-plot " id="NIXD0169"></div>
        </div>
    </div>
    <div class="tab-pane fade " id="Spw-links">
        <div id="collapse_ID_3" class="d-flex flex-wrap">
            <div class="stix-plot " id="NIXD0030"></div>
            <div class="stix-plot " id="NIXD0031"></div>
            <div class="stix-plot " id="NIXD0032"></div>
            <div class="stix-plot " id="NIXD0001"></div>
            <div class="stix-plot " id="NIXD0078"></div>
            <div class="stix-plot " id="NIXD0079"></div>
            <div class="stix-plot " id="NIXD0080"></div>
            <div class="stix-plot " id="NIXD0081"></div>
        </div>
    </div>
    <div class="tab-pane fade " id="DPU-IDPU-LV">
        <div class="accordion" id="collapse_5">
            <div class="card">
                <div class="card-header" id="heading_IDPU">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#IDPU" aria-expanded="true" aria-controls="collapseOne">
                                IDPU
				</button>
			</h6>
                </div>
                <div id="IDPU" class="collapse " aria-labelledby="heading_IDPU" data-parent="#collapse_5">
                    <div class="card-body">

                        <div id="collapse_ID_4">
                            <div class="stix-plot " id="NIXD0004"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_DPU-voltages">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#DPU-voltages" aria-expanded="true" aria-controls="collapseOne">
                                DPU voltages
				</button>
			</h6>
                </div>
                <div id="DPU-voltages" class="collapse  " aria-labelledby="heading_DPU-voltages" data-parent="#collapse_5">
                    <div class="card-body">

                        <div id="collapse_ID_5" class="d-flex flex-wrap">
                            <div class="stix-plot " id="NIXD0027"></div>
                            <div class="stix-plot " id="NIXD0028"></div>
                            <div class="stix-plot " id="NIXD0029"></div>
                            <div class="stix-plot " id="NIXD0030"></div>
                            <div class="stix-plot " id="NIXD0031"></div>
                            <div class="stix-plot " id="NIXD0032"></div>
                            <div class="stix-plot " id="NIXD0035"></div>
                            <div class="stix-plot " id="NIXD0036"></div>
                            <div class="stix-plot " id="NIXD0037"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_DPU-temperature-sensors">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#DPU-temperature-sensors" aria-expanded="true" aria-controls="collapseOne">
                                DPU temperature sensors
				</button>
			</h6>
                </div>
                <div id="DPU-temperature-sensors" class="collapse  " aria-labelledby="heading_DPU-temperature-sensors" data-parent="#collapse_5">
                    <div class="card-body">

                        <div id="collapse_ID_6" class="d-flex flex-wrap">
                            <div class="stix-plot " id="NIXD0025"></div>
                            <div class="stix-plot " id="NIXD0026"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_PSU">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#PSU" aria-expanded="true" aria-controls="collapseOne">
                                PSU
				</button>
			</h6>
                </div>
                <div id="PSU" class="collapse  " aria-labelledby="heading_PSU" data-parent="#collapse_5">
                    <div class="card-body">

                        <div id="collapse_ID_7">
                            <div class="stix-plot " id="NIXD0024"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_LV">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#LV" aria-expanded="true" aria-controls="collapseOne">
                                LV
				</button>
			</h6>
                </div>
                <div id="LV" class="collapse  " aria-labelledby="heading_LV" data-parent="#collapse_5">
                    <div class="card-body">

                        <div id="collapse_ID_8">
                            <div class="stix-plot " id="NIXD0092"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane fade " id="Aspect-system">
        <div id="collapse_11">

            <div class="card">
                <div class="card-header" id="heading_Power-Voltages">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Power-Voltages" aria-expanded="true" aria-controls="collapseOne">
                                Power/Voltages
				</button>
			</h6>
                </div>
                <div id="Power-Voltages" class="collapse " aria-labelledby="heading_Power-Voltages" data-parent="#collapse_11">
                    <div class="card-body">

                        <div id="collapse_ID_10" class="d-flex flex-wrap" >
                            <div class="stix-plot " id="NIXD0086"></div>
                            <div class="stix-plot " id="NIXD0087"></div>
                            <div class="stix-plot " id="NIXD0038"></div>
                            <div class="stix-plot " id="NIXD0039"></div>
                            <div class="stix-plot " id="NIXD0048"></div>
                            <div class="stix-plot " id="NIXD0049"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_Temperature-sensors">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Temperature-sensors" aria-expanded="true" aria-controls="collapseOne">
                                Temperature sensors
				</button>
			</h6>
                </div>
                <div id="Temperature-sensors" class="collapse  " aria-labelledby="heading_Temperature-sensors" data-parent="#collapse_11">
                    <div class="card-body">

                        <div id="collapse_ID_11" class="d-flex flex-wrap" >

                            <div class="stix-plot " id="NIXD0040"></div>
                            <div class="stix-plot " id="NIXD0041"></div>
                            <div class="stix-plot " id="NIXD0042"></div>
                            <div class="stix-plot " id="NIXD0043"></div>
                            <div class="stix-plot " id="NIXD0044"></div>
                            <div class="stix-plot " id="NIXD0045"></div>
                            <div class="stix-plot " id="NIXD0046"></div>
                            <div class="stix-plot " id="NIXD0047"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_Aspect-readouts">
                    <h6 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Aspect-readouts" aria-expanded="true" aria-controls="collapseOne">
                                Aspect readouts
				</button>
			</h6>
                </div>
                <div id="Aspect-readouts" class="collapse  " aria-labelledby="heading_Aspect-readouts" data-parent="#collapse_11">
                    <div class="card-body">

                        <div id="collapse_ID_12" class="d-flex flex-wrap" >

                            <div class="stix-plot " id="NIX00078"></div>
                            <div class="stix-plot " id="NIX00079"></div>
                            <div class="stix-plot " id="NIX00080"></div>
                            <div class="stix-plot " id="NIX00081"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane fade " id="Attenuator">
        <div id="collapse_ID_14"  class="d-flex flex-wrap" >

            <div class="stix-plot " id="NIXD0050"></div>
            <div class="stix-plot " id="NIXD0051"></div>
            <div class="stix-plot " id="NIXD0088"></div>
            <div class="stix-plot " id="NIXD0089"></div>
            <div class="stix-plot " id="NIXD0068"></div>
            <div class="stix-plot " id="NIXD0069"></div>
            <div class="stix-plot " id="NIX00076"></div>
            <div class="stix-plot " id="NIX00094"></div>
            <div class="stix-plot " id="NIXD0075"></div>
        </div>
    </div>
    <div class="tab-pane fade " id="HV">
        <div id="collapse_ID_15"  class="d-flex flex-wrap" >

            <div class="stix-plot " id="NIXD0090"></div>
            <div class="stix-plot " id="NIXD0091"></div>
            <div class="stix-plot " id="NIXD0066"></div>
            <div class="stix-plot " id="NIXD0067"></div>
            <div class="stix-plot " id="NIXD0074"></div>
        </div>
    </div>
    <div class="tab-pane fade " id="Detectors">
        <div id="collapse_12">

            <div class="card">
                <div class="card-header" id="heading_High-voltage">
                    <h6 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#High-voltage" aria-expanded="true" aria-controls="collapseOne">
                                High voltage
				</button>
			</h6>
                </div>
                <div id="High-voltage" class="collapse " aria-labelledby="heading_High-voltage" data-parent="#collapse_12">
                    <div class="card-body">

                        <div id="collapse_ID_16"  class="d-flex flex-wrap" >

                            <div class="stix-plot " id="NIXD0052"></div>
                            <div class="stix-plot " id="NIXD0053"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_Detector-Temperature-Sensors">
                    <h6 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#Detector-Temperature-Sensors" aria-expanded="true" aria-controls="collapseOne">
                                Detector Temperature Sensors
				</button>
			</h6>
                </div>
                <div id="Detector-Temperature-Sensors" class="collapse  " aria-labelledby="heading_Detector-Temperature-Sensors" data-parent="#collapse_12">
                    <div class="card-body">

                        <div id="collapse_ID_17"  class="d-flex flex-wrap" >


                            <div class="stix-plot " id="NIXD0054"></div>
                            <div class="stix-plot " id="NIXD0055"></div>
                            <div class="stix-plot " id="NIXD0056"></div>
                            <div class="stix-plot " id="NIXD0057"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_Power-status">
                    <h6 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#Power-status" aria-expanded="true" aria-controls="collapseOne">
                                Power status
				</button>
			</h6>
                </div>
                <div id="Power-status" class="collapse  " aria-labelledby="heading_Power-status" data-parent="#collapse_12">
                    <div class="card-body">

                        <div id="collapse_ID_18" class="d-flex flex-wrap" >


                            <div class="stix-plot " id="NIXD0082"></div>
                            <div class="stix-plot " id="NIXD0083"></div>
                            <div class="stix-plot " id="NIXD0084"></div>
                            <div class="stix-plot " id="NIXD0085"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading_Detector-current-status">
                    <h6 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#Detector-current-status" aria-expanded="true" aria-controls="collapseOne">
                                Detector current/status
				</button>
					</h6>
                </div>
                <div id="Detector-current-status" class="collapse  " aria-labelledby="heading_Detector-current-status" data-parent="#collapse_12">
                    <div class="card-body">

                        <div id="collapse_ID_19" class="d-flex flex-wrap" >


                            <div class="stix-plot " id="NIXD0070"></div>
                            <div class="stix-plot " id="NIXD0058"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane fade " id="Trigger-rates">
        <div id="collapse_ID_21" class="d-flex flex-wrap" >


           <div class="stix-plot " id="NIX00072"></div>
            <div class="stix-plot " id="NIX00073"></div>
        </div>
    </div>
</div>
