{% extends "base-fluid.html" %}
{% block title %}STIX raw telemetry files{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/dashboard.css')}}">
<style type="text/css">
.dataTables_filter {
	text-align: right !important;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.dataTables.min.css')}}">
{% endblock %}
{% block  container %} 

{% include 'dashboard-left-sidebar.html' %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div class=" row bg-white rounded box-shadow mt-5 ">
	<div class="col">
		<div class="shadow-sm p-3 mb-2  rounded">
		<p class="h4 font-weight-light">STIX raw telemetry files </p>
		</div> 
		<table class="table table-sm table-striped table-bordered table-hover" id="raw-table">
			<thead>
				<tr class="active">
					<th class="sortable-column sort-desc">ID</th>
					<th>Filename</th>
					<th>Processing time</th>
					<th>Data start UTC</th>
					<th>Data end UTC</th>
					<th width="20%">Description</th>
					<th>Packets</th>
					<th>HK plotting</th>
					<th>Quicklook PDF</th>
				</tr>
			</thead>
			<tbody >
				{% for row in runs %}
				<tr>
					<td>{{ row._id }}</td>
					<td>{{ row.filename }}</td>
					<td>{{ row.run_start_unix_time|strftime}}</td>
					<td>{{ row.data_start_unix_time|strftime}}</td>
					<td>{{ row.data_stop_unix_time|strftime}}</td>
					<td> <span class="d-inline-block text-truncate" style="max-width:200px;"> {{ row.comment}}</span></td>
					<td><a href="/view/packet/file/{{row._id}}">Ready</a></td>
					<td id="hk"> <a href="/plot/housekeeping/file/{{row._id}}">Ready</a></td>
					{% if row.quicklook_pdf is defined %}
					<td > <a href="/request/pdf/quicklook/{{row._id}}"><i class="fa fa-file-pdf-o" style="font-size:20px;color:red"></i></a></td>
					{% else %}
					<td > </td>
					{%endif %}
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
</main>

{% endblock %}

{% block jscript %}

<script src="{{ url_for('static', filename='vendor/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/rawfile.list.response.js')}}"></script>


{% endblock %}



