{% extends "base-fluid.html" %}

{% set currentPage="Telemetry files" %}
{% set bodyStyle="overflow-y:scroll; overflow-x:hidden;" %}

{% block title %}STIX raw telemetry files{% endblock %}
{% block head %}
<style type="text/css">
td th {
	text-align: center;
}
</style>
{% endblock %}
{% block  container %} 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button type="button" id="sidebarCollapse" class="btn btn-secondary mr-1">
		<i class="fas fa-list-ul"></i>
		<span></span>
	</button>
	<button class=" btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" 
																				 data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-align-justify"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form id="reqform" class="form-inline">
			<div class="btn-toolbar">
				<div class="input-group input-group-sm mr-auto">
				<div class="input-group-prepend">
						<span class="input-group-text" >Time range</span>
			  </div>					
  <input type="text"  id="utc-input" class=" form-control form_datetime" placeholder="Start UTC" name="dates" id="start-input">
				</div>

			</div>
		</form>		
		<ul class="breadCrumb nav navbar-nav ml-auto">
			<li  class="nav-link">{{currentPage}}</li>
			<!--
			<li class="nav-link" > <a href="/upload/raw"> Upload </a> </li>
			-->
		</ul>	
	</div>
</nav>

<div class="container-fluid bg-light "> 
	<div class="bg-white shadow p-3 ">
<h4 id="table-caption"> </h4>
<div class="row clearfix"> 
	<div class="col-md-12 mr-3  ml-1 column">
		<table  class="table table-stripped table-bordered hover compact" id="raw-table" >
			<thead>
				<tr class="">
					<th  class="sortable-column sort-desc">ID</th>
					<th >Filename</th>
					<th >Arrival time</th>
					<th >Start UTC</th>
					<th >Span (min)</th>
					<th>
						<span class="d-inline-block text-truncate" data-toggle="tooltip" title="Packet browser" >Packets</span>
					</th>
					<th> 	
						<span class="d-inline-block text-truncate" data-toggle="tooltip" title="Plot housekeeping parameters" >HK</span>
					</th>
					<th>
						<span class="d-inline-block text-truncate" data-toggle="tooltip" title="Plot Quicklook Light Curves" >QLLC</span>
					</th>
					<th>
						<span class="d-inline-block text-truncate" data-toggle="tooltip" title="Plot Quicklook Background Monitor Light Curves" >BKGLC</span>
					</th>
					<th>
						<span class="d-inline-block text-truncate" data-toggle="tooltip" title="Plot Quicklook Background Spectra" >Spectra</span>
					</th>
					<th>
						<span class="d-inline-block text-truncate" data-toggle="tooltip" title="Plot calibration spectra" >CAL</span>
					</th>
					<th >Remarks</th>
				</tr>
			</thead>
			<tbody >
			</tbody>
		</table>
	</div>
</div>
	</div>
</div>

{% endblock %}
{% block jscript %}

{% assets "listfile_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


{% endblock %}
