{% if navi_bottom_margin is not defined%}
	{% set navi_bottom_margin='mb-0' %}
{% endif %}

<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark flex-md-nowrap p-0 {{navi_bottom_margin}} ">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">STIX web data browsers</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-dashboard" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	</div>
</nav>
