<div class="row">
	<div class="col-md-6">
		<table class="table-hover  treetable"  id="headerTreeView">
			<thead>
				<tr>
					<th width="10%" ># </th>
					<th width="25%"> Time</th>
					<th width="10%"> TMTC </th>
					<th > Description </th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table id="packetTreeView" class= "table-hover treetable">
			<thead>
				<tr>
					<th width="30%">Name</th>
					<th width="35%">Description</th>
					<th width="15%">Raw value</th>
					<th >Eng./decomp. </th>
					<th width="3%">Unit</th>
				</tr>
			</thead>
			<tbody>
				<tr data-tt-id="1" data-tt-branch='true'>
					<td>Header</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<tr data-tt-id="2" data-tt-branch='true'>
					<td>Parameters</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="leftloader" class="leftloader" style="display:none;"></div>
<div id="rightloader" class="rightloader" style="display:none;"></div>
<div class="statusbar text-muted small" style="margin-right:5px;">
		<span class="ml-2" id="file-info"> </span>
	<span id="msg">
	</span>
</div>

