

{% extends "base-plotting.html" %}
{% block title %}STIX calibration data viewer{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-datetimepicker.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.dataTables.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/detector.view.css')}}">
<script src="{{ url_for('static', filename='vendor/js/bootstrap-datetimepicker.js')}}"></script>
{% endblock %}
{% block top_navi_title%} 
Calibration data
{% endblock %}
{% block main_title_bar%} 
{% if message is defined %}
{{message}}
{% else %}
Calibration data
{%endif%}

{% endblock %}
{% block  toolbar_button_groups%} 
	<button type="button" class="btn btn-outline-success active last-data" value="24">Last day</button>
	<button type="button" class="btn btn-outline-success last-data " value="48">Last 2 days</button>
	<button type="button" class="btn btn-outline-success last-data " value="72">Last 3 days</button>
{% endblock %}


{% block  main_container%} 

<a class="btn btn-success btn-sm" id="btn-calibration-run" data-toggle="collapse" href="#calibration-run-list" role="button" aria-expanded="false" aria-controls="calibration-run-list" style="display:none">
	Toggle
</a>

<div class="collapse" id="calibration-run-list">
	<div class="card card-body" style="height:400px; overflow:scroll">
		<table class="table table-sm table-striped table-bordered table-hover mt-3" id="calibration-runs-table">
			<thead>
				<tr>
					<th class="sortable-column sort-desc">ID</th>
					<th>Packet header time</th>
					<th>Start time</th>
					<th>Duration (s)</th>
					<th>TM packets</th>
					<th>Plot</th>
				</tr>
			</thead>
			<tbody >
			</tbody>
		</table>

	</div>
</div>
<div class="d-flex flex-column">
	<table class="table table-sm table-striped table-bordered table-hover" id="calibration-run-info"></table>
	<div class="row justify-content-md-center">
		<div class="col-md-6">
			<div id="counts2d">
			</div>

		</div>
		<div class="col-md-6" >
			<div width="70%" id="spectrum" >
			</div>
	</div>
</div>




{% endblock %}


{% block before_js%}
{% if start_unix is not defined%}
{% set start_unix=0 %}
{% endif %}
{% if span_sec is not defined%}
{% set span_sec=0 %}
{% endif %}
{% if calibration_id is not defined%}
{% set calibration_id=-2 %}
{% endif %}

<script>
	window.startUnix={{start_unix}};
window.timeSpanSeconds={{span_sec}};
window.calibrationId={{calibration_id}};
</script>

{% endblock %}

{% block after_js %}
<script src="{{ url_for('static', filename='js/stix.detector.view.js')}}"></script>
<script src="{{ url_for('static', filename='js/calibration.plot.svg.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/js/dataTables.bootstrap4.min.js')}}"></script>
<script>
	$(function () {
		$('.form_datetime').datetimepicker( {format: "yyyy-mm-ddThh:ii:ss"});
		

	});

</script>
{% endblock %}



