{% extends "base-plotting.html" %}

{% set currentPage="Housekeeping" %}

{% block title %}STIX housekeeping data monitor{% endblock %}
{% block head %}
{% endblock %}
{% block top_navi_title%} 
Housekeeping data
{% endblock %}

{% block main_title_bar%} 
{% if message|length %}
{{ message }}
{% else %}
Housekeeping data 
{% endif %}


{% endblock %}

{% set button_groups=({"Last 12 hrs": 12,"Last day": 24,"Last 2 days":48}) %}



{% block  main_container%} 
{%include 'housekeeping-tabs.html'%}
{% endblock %}


{% block before_js%}
<script>
{% if start_unix is not defined%}
{% set start_unix=0 %}
{% endif %}
{% if span_sec is not defined%}
{% set span_sec=0 %}
{% endif %}
{% if file_id is not defined%}
{% set file_id=-1 %}
{% endif %}
window.startUnix={{start_unix}};
window.timeSpanSeconds={{span_sec}};
window.fileId={{file_id}};
</script>

{% endblock %}


{% block after_js %}
{% assets "hk_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
	$(function () {
		$('.form_datetime').datetimepicker( {format: "yyyy-mm-ddThh:ii:ss"});
		$(".nav-tabs a").click(function(){
			$(this).tab('show'); });
	});
</script>
{% endblock %}



