

{% extends "base-plotting.html" %}
{% block title %}STIX lightcurve viewer{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-datetimepicker.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.dataTables.min.css')}}">
<script src="{{ url_for('static', filename='vendor/js/bootstrap-datetimepicker.js')}}"></script>
{% endblock %}
{% block top_navi_title%} 
Quick-look light-curves
{% endblock %}
{% block main_title_bar%} 
{% if message is defined %}
{{message}}
{% else %}
Quick-look light-curves
{%endif%}

{% endblock %}


{% block  main_container%} 
<div style="width:800px;"> 
<div class="d-flex justify-content-center">
	<span class="badge badge-pill badge-light font-weight-bold mr-2 ">x-axis:</span>
	<a href="#" id="x-utc" class="badge badge-primary mr-2">UTC</a>
	<a href="#" id="x-t0" class="badge badge-secondary mr-2">T-T0</a>
	<a href="#" id="x-scet" class="badge badge-success mr-3">SCET</a>

	<span class="badge badge-pill badge-light font-weight-bold mr-2 ">y-axis:</span>
	<a href="#" id="set-logy" class="badge badge-info mr-2">LogY</a>
</div>
</div> 

<div id="" class="d-flex flex-column">
	<div id="lightcurves"></div>
	<div id="triggers"></div>
	<div id="rcr"></div>
</div>




{% endblock %}


{% block before_js%}
{% if start_unix is not defined%}
{% set start_unix=0 %}
{% endif %}
{% if span_seconds is not defined%}
{% set span_seconds=0 %}
{% endif %}

<script>
	window.startUnix={{start_unix}};
window.timeSpanSeconds={{span_seconds}};
</script>

{% endblock %}

{% block after_js %}
<script src="{{ url_for('static', filename='js/lightcurve.plot.response.js')}}"></script>
<script>
	$(function () {
		$('.form_datetime').datetimepicker( {format: "yyyy-mm-ddThh:ii:ss"});
	});

</script>
{% endblock %}



