

{% extends "base-plotting.html" %}
{% block title %}STIX light curve viewer{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-datetimepicker.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.dataTables.min.css')}}">
<script src="{{ url_for('static', filename='vendor/js/bootstrap-datetimepicker.js')}}"></script>
{% endblock %}
{% block top_navi_title%} 
Quicklook light curves
{% endblock %}
{% block main_title_bar%} 
{% if message is defined %}
{{message}}
{% else %}
Quicklook light curves
{%endif%}
{% endblock %}

{% block  toolbar_button_groups%} 
<button type="button" class="btn btn-outline-success active last-data" value="12">Last 12 hrs</button>
<button type="button" class="btn btn-outline-success last-data " value="24">Last day</button>
<button type="button" class="btn btn-outline-success last-data" value="72">Last 3 days</button>
{% endblock %}


{% block  main_container%} 

<div class="d-flex">
	<div class="mr-auto p-2">
		<div class="btn-toolbar">
			<div id="btn-group21" class="btn-group btn-group-sm mr-2 " >
				<button type="button" class="btn btn-dark" id="" value="">x-axis</button>
				<button type="button" class="btn btn-outline-secondary " id="x-utc" value="">UTC</button>
				<button type="button" class="btn btn-outline-secondary " id="x-t0" value="">T-T0</button>
				<button type="button" class="btn btn-outline-secondary " id="x-scet" value="">SCET</button>
			</div> 
			<div id="btn-group22" class="btn-group btn-group-sm " >
				<button type="button" class="btn btn-dark" id="" value="">Y-axis</button>
				<button type="button" class="btn btn-outline-secondary " id="set-logy" value="">Log</button>
			</div>
		</div>
	</div>
</div>


<div id="" class="d-flex flex-column">
	<div id="lightcurves"></div>
	<div id="triggers"></div>
	<div id="rcr"></div>
</div>




{% endblock %}


{% block before_js%}
{% if start_unix is not defined%}
{% set start_unix=0 %}
{% endif %}
{% if span_seconds is not defined%}
{% set span_seconds=0 %}
{% endif %}

<script>
	window.startUnix={{start_unix}};
window.timeSpanSeconds={{span_seconds}};
</script>

{% endblock %}

{% block after_js %}
<script src="{{ url_for('static', filename='js/lightcurve.plot.response.js')}}"></script>
<script>
	$(function () {
		$('.form_datetime').datetimepicker( {format: "yyyy-mm-ddThh:ii:ss"});
	});

</script>
{% endblock %}



