
{% extends "base-plotting.html" %}
{% set currentPage="" %}


{% block title %}STIX QL spectrum viewer{% endblock %}
{% block head %}
{% endblock %}
{% block top_navi_title%} 
Calibration data
{% endblock %}
{% block main_title_bar%} 
{% if message is defined %}
{{message}}
{% else %}
Quicklook spectra
{%endif%}

{% endblock %}

{% set button_groups=({"Last day": 24,"Last 2 days": 48,"Last 3 days":72}) %}

{%block top_nav_bar %} 

<form class="form-inline" action="/plot/qlspectra"> 
	<div class="form-group ml-3">
		<input type="number"  id="input-file-id" class="  form-control form-control-sm " placeholder="Or by file Id" name="file_id" >
		<button id="hk-load" type="submit" class="btn btn-sm ml-1 btn-outline-success">Load</button>
	</div>
</form>


{%endblock%}


{% block  main_container%} 
<button type="button" class="btn btn-success btn-sm" id="btn-spectrum" data-toggle="collapse" data-target="#spectra-list" > Show background spectrum packets </button>
<div class="collapse" id="spectra-list">
	<div class="card card-body" style="height:250px;">
		<table class="display compact mt-3" id="packet-table">
			<thead>
				<tr>
					<th class="sortable-column sort-desc">ID</th>
					<th>Packet header time</th>
					<th>Start time</th>
					<th>Duration per spectrum (s)</th>
					<th>Nb. of spectrum groups</th>
					<th>TM packets</th>
					<th>Plot</th>
				</tr>
			</thead>
			<tbody >
			</tbody>
		</table>

	</div>
</div>

<div class="d-flex flex-column mt-10">

	<div class="row">
		<div class="col" >
			<table class="table table-sm table-striped table-bordered table-hover" id="spectrum-packets"></table>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="spec-sum" ></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="spectra" ></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="spec-num" ></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="triggers" ></div>
		</div>
	</div>

</div>



{% endblock %}


{% block before_js%}
{% if start_unix is not defined%}
{% set start_unix=0 %}
{% endif %}
{% if span_sec is not defined%}
{% set span_sec=0 %}
{% endif %}

{% if packet_id is not defined%}
{% set packet_id=-2 %}
{% endif %}

{% if file_id is not defined%}
{% set file_id=-1 %}
{% endif %}

<script>
	window.startUnix={{start_unix}};
window.timeSpanSeconds={{span_sec}};
window.packetID={{packet_id}};
window.fileID={{file_id}};
</script>

{% endblock %}

{% block after_js %}

{% assets "qlspectra_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
	$(function () {
		$('.form_datetime').datetimepicker( {format: "yyyy-mm-ddThh:ii:ss"});
		$('#menu-spec').siblings().removeClass("active");
		$('#menu-spec').addClass('active');
	});
</script>
{% endblock %}



