
<nav id="sidebar">
	<div class="sidebar-header">
		<h3>STIX </h3>
	</div>

	<ul class="list-unstyled components">
		<!--<li class="active">
		-->
		<li class="">
			<a href="/">Home</a>
		</li>
	<li >
			<a  href="/view/list/files">
				Telemetry files
			</a>
		</li>
				<li >
					<a  href="/view/list/operation-requests">
						Operation requests
					</a>
				</li>

		<li >
			<a  href="/plot/housekeeping">
				Housekeeping
			</a>
		</li>

		<li >
			<a href="#qlPageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quicklook</a>
			<ul class="collapse list-unstyled" id="qlPageSubmenu">
				<li>
					<a  href="/plot/lightcurves">
						Light curves
					</a>
				</li>
				<li >
					<a href="/plot/background">
						Background 
					</a>
				</li>
				<li >
					<a href="/plot/qlspectra/">
						Specific spectra 
					</a>
				</li>
			</ul>
		</li>

		<li >
			<a href="/plot/calibration">
				Calibration data
			</a>
		</li>
		<li >
			<a  href="/plot/detector/tests">
				Detector tests
			</a>
		</li>

		<li >
			<a href="/view/packet/request">
				Packet browser

			</a>
		</li>
			<li >
			<a href="https://www.cs.technik.fhnw.ch/elog">
				Elog
			</a>
		</li>
		<li >
			<a href="#tobePageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">To be developed</a>
			<ul class="collapse list-unstyled" id="tobePageSubmenu">
				<li >
					<a  href="/plot/aspect">
						Aspect data
					</a>
				</li>
				<li >
					<a  href="/plot/bulkscience">
						Bulk science
					</a>
				</li>


				<li >
					<a  href="/plot/orbit">
						Spacecraft orbit
					</a>
				</li>
				<li >
					<a href="/plot/orbit">
						Solar Flare list
					</a>
				</li>

				<li >
					<a  href="/plot/orbit">
						Data product request
					</a>
				</li>



			</ul>

		</li>

	</ul>
	<div style="bottom:0px; position:fixed;">
		 <a href="mailto:hualin.xiao@fhnw.ch">by STIX @ FHNW</a>.
	</div>

</nav>


